/****************************************************
this file is machine (SASS) generated, DO NOT CHANGE!
****************************************************/

@import "./_normalize.scss";
@import "./_variables.scss";

body {
    background-color: darken($color, 55%);
}

.text {
    margin:4vh auto;
    color:darken($color, 44%);
    font-size: 30px;
    text-align: center;
    max-width: 650px;
    height:90px;
    line-height: 90px;
    background-color: darken($color, 60%);
    border-radius: 8px;
}

.scene {
    display: block;
    width: 1500px;
    height: 1000px;
    background-color: $color;
    margin:3vh auto;
    position: relative;
    border-radius: 1px;
    overflow: hidden;
    animation: sky 12s linear infinite;  
}

@keyframes sky{
    0% {background-color: darken($color,45%);}
    50% {background-color: darken($color, 5%);}
    100% {background-color: darken($color, 45%);}
}

.sun {
    height:80px;
    width:80px;
    border-radius: 75px;
    background-color: yellow;
    position: absolute;
    top: 800px;
    right: 710px;
    z-index:0;
    animation: sun 12s linear infinite;
}

@keyframes sun{
    from { transform: rotate(355deg) translateX(780px) rotate(-355deg); }
    to   { transform: rotate(190deg) translateX(780px) rotate(-190deg);}
}




//0% {transform:translate(0, 0);}
//    10% {transform: translate(-140px,-30px)}
//    20% {transform: translate(-280px,-70px)}
//    30% {transform: translate(-420px,-120px)}
//    40% {transform: translate(-560px,-190px)}
//    50% {transform: translate(-700px,-250px)}
//    60% {transform: translate(-840px,-190px)}v
//    70% {transform: translate(-980px,-120px)}
//    80% {transform: translate(-1120px,-70px)}
//    90% {transform: translate(-1260px,-30px)}
//    100% {transform:translate(-1400px,-0);}

//5% {transform: translate(-40px,-20px)}
//    10% {transform: translate(-80px,-40px)}
//    15% {transform: translate(-120px,-60px)}
//    20% {transform: translate(-160px,-80px)}
//    25% {transform: translate(-200px,-100px)}
//    30% {transform: translate(-240px,-120px)}
//    35% {transform: translate(-280px,-140px)}
//    40% {transform: translate(-320px,-160px)}
//    45% {transform: translate(-360px,-180px)}
//    50% {transform: translate(-400px,-200px)}
//    55% {transform: translate(-440px,-220px)}

.scene .element {
    position: absolute;
    bottom: -50px;
    left: -50px;
    width: 1850px;
    height:1400px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
}

.scene .element:nth-child(7) {
    background-image: url(../img/first.png);
}

.scene .element:nth-of-type(6) {
    background-image: url(../img/second.png);
}

.scene .element:nth-child(5) {
    background-image: url(../img/third.png);
}

.scene .element:nth-child(4) {
    background-image: url(../img/fourth.png);
}

.scene .element:nth-child(3) {
    background-image: url(../img/fifth.png);
}

.scene .element:nth-child(2) {
    background-image: url(../img/sixth.png);
    opacity:.3;
    animation: clouds 3s linear infinite alternate;
}

@keyframes clouds{
    from {transform: translate(0, 0);}
    to {transform: translate(10px, 8px);}
}

