/****************************************************
this file is machine (SASS) generated, DO NOT CHANGE!
****************************************************/

@import "./_normalize.scss";
@import "./_variables.scss";

body {
    background-color: darken($color, 55%);
}

.text {
    margin:4vh auto;
    color:darken($color, 44%);
    font-size: 35px;
    text-align: center;
    max-width: 750px;
    height:90px;
    line-height: 90px;
    background-color: darken($color, 60%);
    border-radius: 8px;
}

.scene {
    display: block;
    width: 1500px;
    height: 1000px;
    background-color: $color;
    margin:3vh auto;
    position: relative;
    border-radius: 1px;
    overflow: hidden;
    animation: sky 12s linear infinite;  
}

@keyframes sky{
    0% {background-color: darken($color,45%);}
    50% {background-color: darken($color, 5%);}
    100% {background-color: darken($color, 45%);}
}

.sun {
    height:80px;
    width:80px;
    border-radius: 75px;
    background-color: yellow;
    position: absolute;
    top: 800px;
    right: 710px;
    z-index:0;
    animation: sun 12s linear infinite;
}

@keyframes sun{
    from { transform: rotate(355deg) translateX(780px) rotate(-355deg); }
    to   { transform: rotate(190deg) translateX(780px) rotate(-190deg);}
}

.scene .element {
    position: absolute;
    bottom: -50px;
    left: -50px;
    width: 1850px;
    height:1400px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
}

.scene .element:nth-child(7) {
    background-image: url(../img/first.png);
}

.scene .element:nth-of-type(6) {
    background-image: url(../img/second.png);
}

.scene .element:nth-child(5) {
    background-image: url(../img/third.png);
}

.scene .element:nth-child(4) {
    background-image: url(../img/fourth.png);
}

.scene .element:nth-child(3) {
    background-image: url(../img/fifth.png);
}

.scene .element:nth-child(2) {
    background-image: url(../img/sixth.png);
    opacity:.3;
    animation: clouds 3s linear infinite alternate;
}

@keyframes clouds{
    from {transform: translate(0, 0);}
    to {transform: translate(10px, 8px);}
}

